<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Time</div>
			<div class="panel-body">
				<h1>2:00:00</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Highest Score by Team 1337</div>
			<div class="panel-body">
				<h1>1440</h1>
			</div>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#team" data-toggle="tab">Team</a></li>
					<li><a href="#pizza" data-toggle="tab">Pizza</a></li>
					<li><a href="#appeal" data-toggle="tab">Appeal</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="team">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>School</th>
									<th>Member 1</th>
									<th>Member 2</th>
									<th>Member 3</th>
									<th>Written</th>
									<th>Programming</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td>Miguel</td>
								</tr>
							</tbody>
						</table>
		          	</div>
		          	<div class="tab-pane fade" id="pizza">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Total Cheese</th>
									<th>Total Pepperoni</th>
									<th>Total Sausage</th>
									<th>Total Pizzas</th>
									<th>Total Cost</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td>Miguel</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Team</th>
									<th>Cheese</th>
									<th>Pepperoni</th>
									<th>Sausage</th>
									<th>Total</th>
									<th>Cost</th>
									<th>Payed</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td><button type="submit" class="btn btn-xs btn-success">Confirm Payed</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td><button type="submit" class="btn btn-xs btn-danger">Unconfirm Payed</button></td>
								</tr>
							</tbody>
						</table>
		          	</div>
		          	<div class="tab-pane fade" id="appeal">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Team</th>
									<th>Problem</th>
									<th>Appeal</th>
									<th>Reply</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td>1</td>
									<td><button type="submit" class="btn btn-xs btn-danger"  data-toggle="modal" data-target="#myModal">Reply</button></td>
								</tr>
							</tbody>
						</table>
		          	</div>
		       	</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">Appeal</h4>
      </div>
      <div class="modal-body">
	      <form>
			<label>Response</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-pencil"></i></span>
				<input type="text" class="form-control" placeholder="">
			</div>
	      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>