<div class="row spacer-top">
</div>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Seven Lakes Kickoff</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
					<li><a href="#register" data-toggle="tab">Register</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="login">
						<form>
							<br>
							<label>Team #</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users"></i></span>
								<input type="text" class="form-control" placeholder="31337">
							</div>
							
							<br>
							<label>Password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key"></i></span>
								<input type="password" class="form-control" placeholder="">
							</div>
							
							<br>
							<span class="label label-danger pull-left">{{error}}</span>
        					<button type="submit" class="btn btn-success pull-right">Login</button>
						</form>
					</div>
					<div class="tab-pane fade" id="register">
						<form>
							<br>
							<label>Team #</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users"></i></span>
								<input type="text" class="form-control" placeholder="31337">
							</div>
							
							<br>
							<label>School</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-home"></i></span>
								<input type="text" class="form-control" placeholder="Seven Lakes">
							</div>
							
							<br>
							<label>Member 1</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Bobby Tables">
							</div>
							
							<br>
							<label>Member 2</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Billy Database">
							</div>
							
							<br>
							<label>Member 3</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Samuel Schema">
							</div>
							
							<br>
							<label>Password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key"></i></span>
								<input type="password" class="form-control" placeholder="">
							</div>
							
							<br>
							<label>Confirm Password</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key"></i></span>
								<input type="password" class="form-control" placeholder="">
							</div>
							
							<br>
							<span class="label label-danger pull-left">{{error}}</span>
        					<button type="submit" class="btn btn-success pull-right">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4"></div>
</div>