<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Time</div>
			<div class="panel-body">
				<h1>2:00:00</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Score</div>
			<div class="panel-body">
				<h1>1440</h1>
			</div>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Overview</div>
			<div class="panel-body">
				<h2>Written Contest</h2>
                <p>
                The Written Contest will begin at 3:00. It consists of a 40 mainly multiple-choice questions to be completed in 45 minutes. 
                To be able to attribute your scores to your team and name you must remember the Contestant ID (CID) number.
                Failure to put your CID on your score sheet could result in a delay of the scoring process. Scores will appear on this page sometime during or after the Programming Contest.
                </p>
                <h2>Programming Contest</h2>
                <p>
                The Programming Contest will begin at 4:30. It consists of a 12 problems to be completed in 2 hours.
                Each correct submission is 60 points and incorrect -5 points. The max score is 720 which will be added to your written scores.
                The table to the right shows your score and the competitors nearest to you.
                
                </p>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-warning">
			<div class="panel-heading">Sub-scores</div>
			<div class="panel-body">
				Written
				 <table class="table table-bordered table-hover">
	                 <thead>
	                     <tr>
	                         <th>CID</th>
	                         <th>Name</th>
	                         <th>Score</th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                 	 <tr>
	                         <td>1</td>
	                         <td>Miguel</td>
	                         <td>240</td>
	                     </tr>
	                     <tr>
	                         <td>1</td>
	                         <td>Miguel</td>
	                         <td>240</td>
	                     </tr>
	                     <tr>
	                         <td>1</td>
	                         <td>Miguel</td>
	                         <td>240</td>
	                     </tr>
	                 </tbody>
                 </table>
                 Programming
				 <table class="table table-bordered table-hover">
	                 <thead>
	                     <tr>
	                         <th>#</th>
	                         <th>Name</th>
	                         <th>Score</th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                 	 <tr>
	                         <td>1</td>
	                         <td>Stoudonia</td>
	                         <td>55</td>
	                     </tr>
	                 	 <tr>
	                         <td>2</td>
	                         <td>Stoudonia</td>
	                         <td>35</td>
	                     </tr>
	                 	 <tr>
	                         <td>3</td>
	                         <td>Stoudonia</td>
	                         <td>60</td>
	                     </tr>
	                 </tbody>
                 </table>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-success">
			<div class="panel-heading">Downloads</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item">PC^2</a>
					<a href="#" class="list-group-item list-group-item">PC^2</a>
					<a href="#" class="list-group-item list-group-item">PC^2</a>
					<a href="#" class="list-group-item list-group-item">PC^2</a>
					<a href="#" class="list-group-item list-group-item">PC^2</a>
					<a href="#" class="list-group-item list-group-item">PC^2</a>
				</div>
			</div>	
		</div>
	</div>
</div>