<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Time</div>
			<div class="panel-body">
				<h1>2:00:00</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-warning">
			<div class="panel-heading">Top Team</div>
			<div class="panel-body">
				<h1>Team 1337</h1>
			</div>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#nw" data-toggle="tab">Novice Written</a></li>
					<li><a href="#np" data-toggle="tab">Novice Programming</a></li>
					<li><a href="#aw" data-toggle="tab">Advanced Written</a></li>
					<li><a href="#ap" data-toggle="tab">Advanced Programming</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="nw">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
								</tr>
							</tbody>
						</table>
		          	</div>
					<div class="tab-pane fade" id="np">
		          		<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Team</th>
									<th>School</th>
									<th>Problems</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td class="problem_container">
										<span class="problem_block solved">1</span>
										<span class="problem_block solved">2</span>
										<span class="problem_block solved">3</span>
										<span class="problem_block solved">4</span>
										<span class="problem_block solved">5</span>
										<span class="problem_block solved">6</span>
										<span class="problem_block solved">7</span>
										<span class="problem_block solved">8</span>
										<span class="problem_block solved">9</span>
										<span class="problem_block solved">10</span>
										<span class="problem_block solved">11</span>
										<span class="problem_block solved">12</span>
										<span class="problem_block solved">13</span>
										<span class="problem_block solved">14</span>
										<span class="problem_block solved">15</span>
										<span class="problem_block solved">16</span>
										<span class="problem_block solved">17</span>
										<span class="problem_block solved">18</span>
									</td>
									<td>202</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td class="problem_container">
										<span class="problem_block solved">1</span>
										<span class="problem_block solved">2</span>
										<span class="problem_block solved">3</span>
										<span class="problem_block solved">4</span>
										<span class="problem_block solved">5</span>
										<span class="problem_block solved">6</span>
										<span class="problem_block solved">7</span>
										<span class="problem_block solved">8</span>
										<span class="problem_block solved">9</span>
										<span class="problem_block solved">10</span>
										<span class="problem_block solved">11</span>
										<span class="problem_block solved">12</span>
										<span class="problem_block solved">13</span>
										<span class="problem_block solved">14</span>
										<span class="problem_block solved">15</span>
										<span class="problem_block solved">16</span>
										<span class="problem_block solved">17</span>
										<span class="problem_block solved">18</span>
									</td>
									<td>202</td>
								</tr>
							</tbody>
						</table>
		          	</div>
		          	<div class="tab-pane" id="aw">
						<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
								</tr>
							</tbody>
						</table>
		          	</div>
					<div class="tab-pane fade" id="ap">
		          		<br>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Team</th>
									<th>School</th>
									<th>Problems</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td class="problem_container">
										<span class="problem_block solved">1</span>
										<span class="problem_block solved">2</span>
										<span class="problem_block solved">3</span>
										<span class="problem_block solved">4</span>
										<span class="problem_block solved">5</span>
										<span class="problem_block solved">6</span>
										<span class="problem_block solved">7</span>
										<span class="problem_block solved">8</span>
										<span class="problem_block solved">9</span>
										<span class="problem_block solved">10</span>
										<span class="problem_block solved">11</span>
										<span class="problem_block solved">12</span>
										<span class="problem_block solved">13</span>
										<span class="problem_block solved">14</span>
										<span class="problem_block solved">15</span>
										<span class="problem_block solved">16</span>
										<span class="problem_block solved">17</span>
										<span class="problem_block solved">18</span>
									</td>
									<td>202</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Miguel</td>
									<td>202</td>
									<td class="problem_container">
										<span class="problem_block solved">1</span>
										<span class="problem_block solved">2</span>
										<span class="problem_block solved">3</span>
										<span class="problem_block solved">4</span>
										<span class="problem_block solved">5</span>
										<span class="problem_block solved">6</span>
										<span class="problem_block solved">7</span>
										<span class="problem_block solved">8</span>
										<span class="problem_block solved">9</span>
										<span class="problem_block solved">10</span>
										<span class="problem_block solved">11</span>
										<span class="problem_block solved">12</span>
										<span class="problem_block solved">13</span>
										<span class="problem_block solved">14</span>
										<span class="problem_block solved">15</span>
										<span class="problem_block solved">16</span>
										<span class="problem_block solved">17</span>
										<span class="problem_block solved">18</span>
									</td>
									<td>202</td>
								</tr>
							</tbody>
						</table>
		          	</div>
		       	</div>
			</div>
		</div>
	</div>
</div>